@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "GloriolaLight";
  src: url('/static/stylesheets/fonts/gloriola-l.eot');
  src: url('/static/stylesheets/fonts/gloriola-l.eot?#iefix') format('eot'), url('/static/stylesheets/fonts/gloriola-l.woff') format('woff'), url('/static/stylesheets/fonts/gloriola-l.svg') format('svg'), url('/static/stylesheets/fonts/gloriola-l.ttf') format('truetype');
}

@font-face {
  font-family: "Gloriola";
  src: url('/static/stylesheets/fonts/gloriola.eot');
  src: url('/static/stylesheets/fonts/gloriola.eot?#iefix') format('eot'), url('/static/stylesheets/fonts/gloriola.woff') format('woff'), url('/static/stylesheets/fonts/gloriola.svg') format('svg'), url('/static/stylesheets/fonts/gloriola.ttf') format('truetype');
}

@font-face {
  font-family: "ProximaNova";
  src: url('/static/stylesheets/fonts/proximanova.eot');
  src: url('/static/stylesheets/fonts/proximanova.eot?#iefix') format('eot'), url('/static/stylesheets/fonts/proximanova.woff') format('woff'), url('/static/stylesheets/fonts/proximanova.svg') format('svg'), url('/static/stylesheets/fonts/proximanova.ttf') format('truetype');
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url('/static/stylesheets/fonts/proximanova-b.eot');
  src: url('/static/stylesheets/fonts/proximanova-b.eot?#iefix') format('eot'), url('/static/stylesheets/fonts/proximanova-b.woff') format('woff'), url('/static/stylesheets/fonts/proximanova-b.svg') format('svg'), url('/static/stylesheets/fonts/proximanova-b.ttf') format('truetype');
}

/* line 74, icon/*.png */
.icon-sprite, .header .logo, .hero-block .hero-icons, .features .feature-content .feature-list .checkmark {
  background: url('/static/images/icon-sf6db853279.png') no-repeat;
}

/* line 90, button/*.png */
.button-sprite, .social-signin .social-signin-btn.facebook, .social-signin .social-signup-btn.facebook, .social-signup .social-signin-btn.facebook, .social-signup .social-signup-btn.facebook, .social-signin .social-signin-btn.google, .social-signin .social-signup-btn.google, .social-signup .social-signin-btn.google, .social-signup .social-signup-btn.google, .modal-overlay .close-modal, .modal-overlay .social-signup .social-signin-btn.facebook, .modal-overlay .social-signup .social-signup-btn.facebook, .modal-overlay .social-signin .social-signin-btn.facebook, .modal-overlay .social-signin .social-signup-btn.facebook, .modal-overlay .social-signup .social-signin-btn.google, .modal-overlay .social-signup .social-signup-btn.google, .modal-overlay .social-signin .social-signin-btn.google, .modal-overlay .social-signin .social-signup-btn.google {
  background: url('/static/images/button-s10c59f6442.png') no-repeat;
}

/* line 38, ../sass/screen.scss */
body {
  font-family: Helvetica, sans-serif;
  padding-bottom: 50px;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

/* line 46, ../sass/screen.scss */
input, textarea, select {
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
}

/* line 54, ../sass/screen.scss */
.header {
  height: 80px;
}
/* line 57, ../sass/screen.scss */
.header .login-actions {
  font-family: "ProximaNovaBold", sans-serif;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: #5e6079;
  letter-spacing: 1px;
  position: absolute;
  right: 30px;
  top: 10px;
  text-align: center;
}
/* line 29, ../sass/screen.scss */
.header .login-actions a {
  color: inherit;
  text-decoration: none;
}
/* line 32, ../sass/screen.scss */
.header .login-actions a:hover {
  color: #3d3e4e;
}
/* line 66, ../sass/screen.scss */
.header .login-actions li {
  margin: 10px 0;
}
/* line 68, ../sass/screen.scss */
.header .login-actions li.seperator {
  display: none;
}
/* line 74, ../sass/screen.scss */
.header .logo {
  background-position: 0 -41px;
  height: 25px;
  width: 131px;
  position: absolute;
  top: 25px;
  left: 20px;
  display: block;
}
/* line 81, ../sass/screen.scss */
.header .logo h1 {
  display: none;
}

/* line 88, ../sass/screen.scss */
.hero-block {
  height: 200px;
  background: url('/static/images/hero.jpg?1361518235') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
/* line 94, ../sass/screen.scss */
.hero-block h2 {
  font-family: "GloriolaLight", sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  padding: 0 10%;
  position: absolute;
  width: 80%;
  top: 10px;
  text-shadow: 0px 1px 1px #5b5b5b;
}
/* line 107, ../sass/screen.scss */
.hero-block .hero-icons {
  display: none;
  background-position: 0 0;
  height: 41px;
  width: 544px;
  position: absolute;
  top: 160px;
  left: 50%;
  margin-left: -272px;
}

/* line 117, ../sass/screen.scss */
.social-signin, .social-signup {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}
/* line 123, ../sass/screen.scss */
.social-signin .social-signin-btn, .social-signin .social-signup-btn, .social-signup .social-signin-btn, .social-signup .social-signup-btn {
  line-height: 59px;
  font-family: "ProximaNovaBold", sans-serif;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  margin-right: 25px;
}
/* line 133, ../sass/screen.scss */
.social-signin .social-signin-btn a, .social-signin .social-signup-btn a, .social-signup .social-signin-btn a, .social-signup .social-signup-btn a {
  display: block;
  color: #fff;
  text-decoration: none;
}
/* line 139, ../sass/screen.scss */
.social-signin .social-signin-btn.facebook, .social-signin .social-signup-btn.facebook, .social-signup .social-signin-btn.facebook, .social-signup .social-signup-btn.facebook {
  background-position: 0 -59px;
  height: 59px;
  width: 234px;
  margin-bottom: 5px;
}
/* line 142, ../sass/screen.scss */
.social-signin .social-signin-btn.facebook a, .social-signin .social-signup-btn.facebook a, .social-signup .social-signin-btn.facebook a, .social-signup .social-signup-btn.facebook a {
  padding-left: 52px;
  padding-right: 20px;
}
/* line 145, ../sass/screen.scss */
.social-signin .social-signin-btn.google, .social-signin .social-signup-btn.google, .social-signup .social-signin-btn.google, .social-signup .social-signup-btn.google {
  background-position: 0 0;
  height: 59px;
  width: 234px;
}
/* line 147, ../sass/screen.scss */
.social-signin .social-signin-btn.google a, .social-signin .social-signup-btn.google a, .social-signup .social-signin-btn.google a, .social-signup .social-signup-btn.google a {
  padding-left: 60px;
  padding-right: 20px;
}

/* line 152, ../sass/screen.scss */
.features {
  *zoom: 1;
  max-width: 450px;
  _width: 450px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin: 10px auto;
  color: #5a5969;
  font-size: 14px;
}
/* line 38, ../../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.features:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 960px) {
  /* line 152, ../sass/screen.scss */
  .features {
    max-width: 960px;
  }
}
/* line 169, ../sass/screen.scss */
.features .feature-screens {
  width: 100%;
  float: left;
  margin-right: 13.33333%;
  display: inline;
}
/* line 171, ../sass/screen.scss */
.features .feature-screens img {
  max-width: 100%;
}
/* line 176, ../sass/screen.scss */
.features .feature-content {
  width: 100%;
  float: left;
  margin-right: 13.33333%;
  display: inline;
}
/* line 179, ../sass/screen.scss */
.features .feature-content p {
  line-height: 20px;
  margin-top: 35px;
  margin-bottom: 25px;
}
/* line 181, ../sass/screen.scss */
.features .feature-content p b {
  font-weight: bold;
}
/* line 186, ../sass/screen.scss */
.features .feature-content .feature-list {
  line-height: 12px;
}
/* line 189, ../sass/screen.scss */
.features .feature-content .feature-list li {
  padding-left: 30px;
  position: relative;
  margin-bottom: 1em;
}
/* line 195, ../sass/screen.scss */
.features .feature-content .feature-list .checkmark {
  background-position: 0 -88px;
  height: 12px;
  width: 16px;
  display: inline-block;
  position: absolute;
  left: 0;
}

/* line 209, ../sass/screen.scss */
.footer {
  text-align: center;
  color: #868e9a;
  font-size: 12px;
  line-height: 20px;
}
/* line 217, ../sass/screen.scss */
.footer .copyright {
  display: block;
}
/* line 221, ../sass/screen.scss */
.footer .footer-nav {
  display: inline;
}
/* line 223, ../sass/screen.scss */
.footer .footer-nav li {
  display: inline;
  margin: 0 0.5ex;
}
/* line 227, ../sass/screen.scss */
.footer .footer-nav li a {
  color: inherit;
  text-decoration: none;
}
/* line 231, ../sass/screen.scss */
.footer .footer-nav li a:hover {
  color: #606873;
}
/* line 236, ../sass/screen.scss */
.footer .footer-nav li:before {
  content: '•';
  position: relative;
  right: .25ex;
}
/* line 241, ../sass/screen.scss */
.footer .footer-nav li:first-child:before {
  display: none;
}

/* line 248, ../sass/screen.scss */
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  overflow-y: scroll;
}
/* line 256, ../sass/screen.scss */
.modal-overlay .close-modal {
  background-position: 0 -273px;
  height: 29px;
  width: 29px;
  text-indent: -9999em;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 265, ../sass/screen.scss */
.modal-overlay .social-signup, .modal-overlay .social-signin {
  top: 60px;
  text-align: right;
  right: 0;
  width: 136px;
}
/* line 271, ../sass/screen.scss */
.modal-overlay .social-signup .more, .modal-overlay .social-signin .more {
  display: none;
}
/* line 273, ../sass/screen.scss */
.modal-overlay .social-signup .social-signin-btn, .modal-overlay .social-signup .social-signup-btn, .modal-overlay .social-signin .social-signin-btn, .modal-overlay .social-signin .social-signup-btn {
  line-height: 39px;
}
/* line 276, ../sass/screen.scss */
.modal-overlay .social-signup .social-signin-btn.facebook, .modal-overlay .social-signup .social-signup-btn.facebook, .modal-overlay .social-signin .social-signin-btn.facebook, .modal-overlay .social-signin .social-signup-btn.facebook {
  background-position: 0 -235px;
  height: 38px;
  width: 136px;
  margin-bottom: 5px;
}
/* line 279, ../sass/screen.scss */
.modal-overlay .social-signup .social-signin-btn.facebook a, .modal-overlay .social-signup .social-signup-btn.facebook a, .modal-overlay .social-signin .social-signin-btn.facebook a, .modal-overlay .social-signin .social-signup-btn.facebook a {
  padding-left: 47px;
  padding-right: 7px;
}
/* line 285, ../sass/screen.scss */
.modal-overlay .social-signup .social-signin-btn.google, .modal-overlay .social-signup .social-signup-btn.google, .modal-overlay .social-signin .social-signin-btn.google, .modal-overlay .social-signin .social-signup-btn.google {
  background-position: 0 -157px;
  height: 39px;
  width: 136px;
  margin-bottom: 5px;
}
/* line 288, ../sass/screen.scss */
.modal-overlay .social-signup .social-signin-btn.google a, .modal-overlay .social-signup .social-signup-btn.google a, .modal-overlay .social-signin .social-signin-btn.google a, .modal-overlay .social-signin .social-signup-btn.google a {
  padding-left: 49px;
  padding-right: 6px;
}
/* line 296, ../sass/screen.scss */
.modal-overlay h3 {
  font-family: "GloriolaLight", sans-serif;
  font-size: 36px;
  color: #5a5969;
  margin-bottom: 20px;
  padding-top: 55px;
}
/* line 303, ../sass/screen.scss */
.modal-overlay h3 small {
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  width: 110px;
  margin: 10px 0;
  line-height: 20px;
}
/* line 311, ../sass/screen.scss */
.modal-overlay h3 small a {
  text-decoration: none;
  color: #4776ef;
  font-weight: bold;
}
/* line 316, ../sass/screen.scss */
.modal-overlay h3 small a:hover {
  color: #134ad7;
}
/* line 323, ../sass/screen.scss */
.modal-overlay label {
  font-family: "ProximaNovaBold", sans-serif;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: #5e6079;
  line-height: 25px;
}
/* line 29, ../sass/screen.scss */
.modal-overlay label a {
  color: inherit;
  text-decoration: none;
}
/* line 32, ../sass/screen.scss */
.modal-overlay label a:hover {
  color: #3d3e4e;
}
/* line 328, ../sass/screen.scss */
.modal-overlay input[type=text], .modal-overlay input[type=password] {
  height: 35px;
  line-height: 25px;
  font-size: 14px;
  display: block;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  text-indent: .5ex;
}
/* line 338, ../sass/screen.scss */
.modal-overlay input[type=text]:focus, .modal-overlay input[type=password]:focus {
  background-color: #c4eeff;
}
/* line 343, ../sass/screen.scss */
.modal-overlay input[type=submit] {
  display: block;
  width: 100%;
  font-family: "ProximaNovaBold", sans-serif;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  background: #4776ef;
  border: none;
  line-height: 45px;
  letter-spacing: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-top: 25px;
  height: 45px;
}
/* line 29, ../sass/screen.scss */
.modal-overlay input[type=submit] a {
  color: inherit;
  text-decoration: none;
}
/* line 32, ../sass/screen.scss */
.modal-overlay input[type=submit] a:hover {
  color: #d9d9d9;
}
/* line 356, ../sass/screen.scss */
.modal-overlay .modal {
  position: relative;
  top: -700px;
}

@media (min-width: 960px) {
  /* line 365, ../sass/screen.scss */
  .header {
    height: 100px;
  }
  /* line 368, ../sass/screen.scss */
  .header .logo {
    top: 40px;
    left: 40px;
  }
  /* line 373, ../sass/screen.scss */
  .header .login-actions {
    right: 45px;
    top: 45px;
    text-align: left;
  }
  /* line 378, ../sass/screen.scss */
  .header .login-actions li {
    display: inline;
  }
  /* line 380, ../sass/screen.scss */
  .header .login-actions li.seperator {
    display: inline;
    color: #d1d2e1;
    margin: 0 16px;
  }

  /* line 389, ../sass/screen.scss */
  .hero-block {
    height: 382px;
  }
  /* line 392, ../sass/screen.scss */
  .hero-block h2 {
    font-size: 36px;
    top: 85px;
  }
  /* line 397, ../sass/screen.scss */
  .hero-block .hero-icons {
    display: block;
  }

  /* line 402, ../sass/screen.scss */
  .social-signin {
    bottom: 75px;
  }
  /* line 404, ../sass/screen.scss */
  .social-signin li {
    margin-bottom: 0;
  }

  /* line 409, ../sass/screen.scss */
  .features {
    margin: 70px auto;
  }
  /* line 412, ../sass/screen.scss */
  .features .feature-screens {
    width: 46.875%;
    float: left;
    margin-right: 6.25%;
  }
  /* line 416, ../sass/screen.scss */
  .features .feature-content {
    width: 46.875%;
    float: right;
    margin-right: 0;
  }
  /* line 418, ../sass/screen.scss */
  .features .feature-content .feature-list {
    padding-left: 25px;
  }

  /* line 425, ../sass/screen.scss */
  .footer .copyright {
    display: inline;
  }
  /* line 430, ../sass/screen.scss */
  .footer .footer-nav li {
    margin: 0 2ex;
  }
  /* line 432, ../sass/screen.scss */
  .footer .footer-nav li:before {
    right: 2.25ex;
  }

  /* line 439, ../sass/screen.scss */
  .modal-overlay {
    overflow: hidden;
  }
  /* line 442, ../sass/screen.scss */
  .modal-overlay .close-modal {
    top: -15px;
    right: -15px;
  }
  /* line 447, ../sass/screen.scss */
  .modal-overlay h3 {
    margin-bottom: 60px;
    padding-top: 0;
  }
  /* line 451, ../sass/screen.scss */
  .modal-overlay h3 small {
    width: auto;
    display: inline;
    margin-left: 40px;
  }
  /* line 458, ../sass/screen.scss */
  .modal-overlay input[type=text], .modal-overlay input[type=password] {
    margin-bottom: 28px;
  }
  /* line 462, ../sass/screen.scss */
  .modal-overlay .modal {
    position: relative;
    background: white;
    width: 660px;
    height: 470px;
    padding: 60px 80px;
    margin: 125px auto 0;
    border: 1px solid lightgrey;
  }
  /* line 472, ../sass/screen.scss */
  .modal-overlay .modal.signup .social-signup, .modal-overlay .modal.signup .social-signin, .modal-overlay .modal.signup form {
    float: left;
  }
  /* line 476, ../sass/screen.scss */
  .modal-overlay .modal.signup form {
    border-right: 1px dotted #666666;
    margin-left: -1px;
    width: 41%;
    padding-right: 9%;
  }
  /* line 483, ../sass/screen.scss */
  .modal-overlay .modal.signup .social-signup, .modal-overlay .modal.signup .social-signin {
    width: 41%;
    padding-left: 9%;
    position: static;
    text-align: left;
  }
  /* line 489, ../sass/screen.scss */
  .modal-overlay .modal.signup .social-signup .more, .modal-overlay .modal.signup .social-signin .more {
    display: inline;
  }
  /* line 491, ../sass/screen.scss */
  .modal-overlay .modal.signup .social-signup .social-signin-btn, .modal-overlay .modal.signup .social-signup .social-signup-btn, .modal-overlay .modal.signup .social-signin .social-signin-btn, .modal-overlay .modal.signup .social-signin .social-signup-btn {
    margin-bottom: 20px;
  }
  /* line 494, ../sass/screen.scss */
  .modal-overlay .modal.signup .social-signup .social-signin-btn.facebook, .modal-overlay .modal.signup .social-signup .social-signup-btn.facebook, .modal-overlay .modal.signup .social-signin .social-signin-btn.facebook, .modal-overlay .modal.signup .social-signin .social-signup-btn.facebook {
    background-position: 0 -196px;
    height: 39px;
    width: 213px;
  }
  /* line 498, ../sass/screen.scss */
  .modal-overlay .modal.signup .social-signup .social-signin-btn.google, .modal-overlay .modal.signup .social-signup .social-signup-btn.google, .modal-overlay .modal.signup .social-signin .social-signin-btn.google, .modal-overlay .modal.signup .social-signin .social-signup-btn.google {
    background-position: 0 -118px;
    height: 39px;
    width: 213px;
  }
  /* line 503, ../sass/screen.scss */
  .modal-overlay .modal.signup .social-signup .social-signin-desc, .modal-overlay .modal.signup .social-signin .social-signin-desc {
    font-size: 13px;
    line-height: 16px;
    color: #5a5969;
  }
}
